/* Colores:
Primary:#8ecae6
Secondary:#219ebc
Danger:#fb8500
Info:#ffb703
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.container {
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.mt-2 {
    margin-top: 2rem;
}

.centro {
    text-align: center;
}

.logo {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 3rem;
    padding: 1em;
    background-color: #8ecae6;
    color: white;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0 0.1rem
}

.btn-1 {
    color: white;
    background-color: #8ecae6;
}

.btn-2 {
    color: white;
    background-color: #219ebc;
}

.btn-3 {
    color: white;
    background-color: #fb8500;
}

.btn-4 {
    color: white;
    background-color: #ffb703;
}

.card {
    width: 20rem;
    overflow: hidden;
    border-radius: 0.5rem;
    color: white;
    background-color: #8ecae6;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0
    font-weight: 900;
}

.card-body p {
    font-weight: 300;
}